# Pankaj Patel

## Python Data Structure

### Write a Python program to create an array of 5 integers and display the array items. 
### Access individual element through indexes.

In [1]:
arr=[2,3,9,7,5]
for i in arr:
    print(i)
print("Access individual element throught indexes: ")
print("First element:",arr[0])
print("Last element:",arr[-1])
print("Third element:",arr[2])

2
3
9
7
5
Access individual element throught indexes:
First element: 2
Last element: 5
Third element: 9

### Write a Python program to reverse the order of the items in the array

In [2]:
arr=[1,2,3,4,5]
print("Reverse array:",arr[::-1])

Reverse array: [5, 4, 3, 2, 1]

### Write a Python program to get the number of occurrences of a specified element in an array.

In [3]:
arr=[1,2,3,4,2,4,4,5,6,7]
print("Number of occurrence of 4 is:",arr.count(4))

Number of occurrence of 4 is: 3

### Write a Python program to remove the first occurrence of a specified element from an array.

In [4]:
arr=[1,5,6,3,8,3,4]
print("Original array:",arr)
arr.remove(3)
print("array after poping the element:",arr)

Original array: [1, 5, 6, 3, 8, 3, 4]
array after poping the element: [1, 5, 6, 8, 3, 4]

## Dictionary

### Write a Python script to sort (ascending and descending) a dictionary by value.

In [5]:
import operator
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print('Original dictionary : ',d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order by value : ',sorted_d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary in descending order by value : ',sorted_d)

Original dictionary :  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
Dictionary in ascending order by value :  [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
Dictionary in descending order by value :  {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

### Write a Python script to add a key to a dictionary.
* Sample Dictionary : {0: 10, 1: 20}
* Expected Result : {0: 10, 1: 20, 2: 30}

In [6]:
d = {0:10, 1:20}
print(d)
d.update({2:30})
print(d)

{0: 10, 1: 20}
{0: 10, 1: 20, 2: 30}

### Write a Python script to concatenate following dictionaries to create a new one.
* **Sample Dictionary** :
* dic1={1:10, 2:20}
* dic2={3:30, 4:40}
* dic3={5:50,6:60}
* **Expected Result** : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [7]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): 
    dic4.update(d)
print("Dic4:",dic4)

Dic4: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

### Write a Python program to iterate over dictionaries using for loops.

In [8]:
d = {'Red': 1, 'Green': 2, 'Blue': 3} 
for color_key, value in d.items():
     print(color_key, 'corresponds to ', d[color_key])

Red corresponds to  1
Green corresponds to  2
Blue corresponds to  3

### Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).
* Sample Dictionary ( n = 5) :
* Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [9]:
n=int(input("Input a number "))
d = dict()

for x in range(1,n+1):
    d[x]=x*x

print(d)

Input a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Write a Python program to remove a key from a dictionary

In [10]:
myDict = {'a':1,'b':2,'c':3,'d':4}
print("Original Dict:",myDict)
if 'a' in myDict: 
    del myDict['a']
print("After deleting key from Dict:",myDict)

Original Dict: {'a': 1, 'b': 2, 'c': 3, 'd': 4}
After deleting key from Dict: {'b': 2, 'c': 3, 'd': 4}

### Write a Python program to print all unique values in a dictionary.
* Sample Data : [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"},
* {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
* Expected Output : Unique Values: {'S005', 'S002', 'S007', 'S001', 'S009'}

In [11]:
L = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
print("Original List: ",L)
u_value = set( val for dic in L for val in dic.values())
print("Unique Values: ",u_value)

Original List:  [{'V': 'S001'}, {'V': 'S002'}, {'VI': 'S001'}, {'VI': 'S005'}, {'VII': 'S005'}, {'V': 'S009'}, {'VIII': 'S007'}]
Unique Values:  {'S001', 'S009', 'S005', 'S007', 'S002'}

### Write a Python program to create a dictionary from a string.
* Note: Track the count of the letters from the string.
* Sample string : 'w3resource'
* Expected output: {'3': 1, 's': 1, 'r': 2, 'u': 1, 'w': 1, 'c': 1, 'e': 2, 'o': 1}

In [12]:
from collections import defaultdict, Counter
str1 = 'w3resource' 
my_dict = {}
for letter in str1:
    my_dict[letter] = my_dict.get(letter, 0) + 1
print(my_dict)

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

### Write a Python program to print a dictionary in table format.

In [13]:
my_dict = {'C1':[1,2,3],'C2':[5,6,7],'C3':[9,10,11]}
for row in zip(*([key] + (value) for key, value in sorted(my_dict.items()))):
    print(*row)

C1 C2 C3
1 5 9
2 6 10
3 7 11

### Write a Python program to count the values associated with key in a dictionary.
* Sample data: = [{'id': 1, 'success': True, 'name': 'Lary'}, {'id': 2, 'success': False, 'name': 'Rabi'}, {'id': 3, 'success': True, 'name': 'Alex'}]
* Expected result: Count of how many dictionaries have success as True

In [14]:
student = [{'id': 1, 'success': True, 'name': 'Lary'},
 {'id': 2, 'success': False, 'name': 'Rabi'},
 {'id': 3, 'success': True, 'name': 'Alex'}]
print(sum(d['success'] for d in student))

2

### Write a Python program to convert a list into a nested dictionary of keys.

In [15]:
num_list = [1, 2, 3, 4]
new_dict = current = {}
for name in num_list:
    current[name] = {}
    current = current[name]
print(new_dict)

{1: {2: {3: {4: {}}}}}

### Write a Python program to check multiple keys exists in a dictionary.

In [16]:
student = {
  'name': 'Alex',
  'class': 'V',
  'roll_id': '2'
}
print(student.keys() >= {'class', 'name'})
print(student.keys() >= {'name', 'Alex'})
print(student.keys() >= {'roll_id', 'name'})

True
False
True

### Write a Python program to count number of items in a dictionary value that is a list.

In [17]:
dict =  {'Alex': ['subj1', 'subj2', 'subj3'], 'David': ['subj1', 'subj2']}
ctr = sum(map(len, dict.values()))
print(ctr)

5

## Sets

### Write a Python program to create a set.

In [18]:
print("Create a new set:")
x = set()
print(x)
print(type(x))
print("\nCreate a non empty set:")
n = set([0, 1, 2, 3, 4])
print(n)
print(type(n))

Create a new set:
set()
<class 'set'>

Create a non empty set:
{0, 1, 2, 3, 4}
<class 'set'>

### Write a Python program to iteration over sets.

In [19]:
#Create a set 
num_set = set([0, 1, 2, 3, 4, 5])
for n in num_set:
  print(n, end=' ')

0 1 2 3 4 5

### Write a Python program to add member(s) in a set

In [20]:
color_set = set(["Yellow"])
print(color_set)
print("\nAdd multiple items:")
color_set.update(["Blue", "Green"])
print(color_set)

{'Yellow'}

Add multiple items:
{'Yellow', 'Blue', 'Green'}

### Write a Python program to remove item(s) from set

In [21]:
num_set = set([0, 1, 3, 4, 5])
print("Original set:")
print(num_set)
num_set.pop()
print("\nAfter removing the first element from the set:")
print(num_set)

Original set:
{0, 1, 3, 4, 5}

After removing the first element from the set:
{1, 3, 4, 5}

### Write a Python program to remove an item from a set if it is present in the set.

In [22]:
num_set = set([0, 1, 2, 3, 4, 5])
print("Original set elements:")
print(num_set)
print("\nRemove 0 from the said set:")
num_set.discard(4)
print(num_set)
print("\nRemove 5 from the said set:")
num_set.discard(5)
print(num_set)

Original set elements:
{0, 1, 2, 3, 4, 5}

Remove 0 from the said set:
{0, 1, 2, 3, 5}

Remove 5 from the said set:
{0, 1, 2, 3}

### Write a Python program to create an intersection of sets.

In [23]:
setx = set(["green", "blue"])
sety = set(["blue", "yellow"])
print("Original set elements:")
print(setx)
print(sety)
print("\nIntersection of two said sets:")
setz = setx & sety
print(setz)

Original set elements:
{'blue', 'green'}
{'yellow', 'blue'}

Intersection of two said sets:
{'blue'}

### Write a Python program to create a union of sets.

In [24]:
setc1 = set(["green", "blue"])
setc2 = set(["blue", "yellow"])
print("Original sets:")
print(setc1)
print(setc2)
setc = setc1.union(setc2)
print("\nUnion of above sets:")
print(setc)

Original sets:
{'blue', 'green'}
{'yellow', 'blue'}

Union of above sets:
{'yellow', 'blue', 'green'}

### Write a Python program to create set difference.

In [25]:
setc1 = set(["green", "blue"])
setc2 = set(["blue", "yellow"])
print("Original sets:")
print(setc1)
print(setc2)
r1 = setc1.difference(setc2)
print("\nDifference of setc1 - setc2:")
print(r1)
r2 = setc2.difference(setc1)
print("\nDifference of setc2 - setc1:")
print(r2)

Original sets:
{'blue', 'green'}
{'yellow', 'blue'}

Difference of setc1 - setc2:
{'green'}

Difference of setc2 - setc1:
{'yellow'}

### Write a Python program to create a symmetric difference.

In [26]:
setn1 = set([1, 1, 2, 3, 4, 5])
setn2 = set([1, 5, 6, 7, 8, 9])
print("\nOriginal sets:")
print(setn1)
print(setn2)
r1 = setn1.symmetric_difference(setn2)
print("\nSymmetric difference of setn1 - setn2:")
print(r1)
r2 = setn2.symmetric_difference(setn1)
print("\nSymmetric difference of setn2 - setn1:")
print(r2)

Original sets:
{1, 2, 3, 4, 5}
{1, 5, 6, 7, 8, 9}

Symmetric difference of setn1 - setn2:
{2, 3, 4, 6, 7, 8, 9}

Symmetric difference of setn2 - setn1:
{2, 3, 4, 6, 7, 8, 9}

### Write a Python program to clear a set.

In [27]:
setc = {"Red", "Green", "Black", "White"}
print("Original set elements:")
print(setc)        
print("\nAfter removing all elements of the set.")
setc.clear()
print(setc)

Original set elements:
{'Green', 'White', 'Red', 'Black'}

After removing all elements of the set.
set()

### Write a Python program to use of frozensets.

In [28]:
x = frozenset([1, 2, 3, 4, 5])
y = frozenset([3, 4, 5, 6, 7])
#use isdisjoint(). Return True if the set has no elements in common with other. 
print(x.isdisjoint(y))
#use difference(). Return a new set with elements in the set that are not in the others.
print(x.difference(y))
#new set with elements from both x and y
print(x | y)

False
frozenset({1, 2})
frozenset({1, 2, 3, 4, 5, 6, 7})

### Write a Python program to find maximum and the minimum value in a set.

In [29]:
setn = {5, 10, 3, 15, 2, 20}
print("Original set elements:")
print(setn)
print(type(setn))
print("\nMaximum value of the said set:")
print(max(setn))
print("\nMinimum value of the said set:")
print(min(setn))

Original set elements:
{2, 3, 5, 10, 15, 20}
<class 'set'>

Maximum value of the said set:
20

Minimum value of the said set:
2

## List

### Write a Python program to sum all the items in a list.

In [30]:
total = 0

# creating a list
list1 = [11, 5, 17, 18, 23]

# Iterate each element in list
# and add them in variable total
for i in range(0, len(list1)):
    total = total + list1[i]

# printing total value
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

### Write a Python program to multiplies all the items in a list.

In [31]:
def multiply_list(items):
    tot = 1
    for x in items:
        tot *= x
    return tot
print(multiply_list([1,2,-8]))

-16

### Write a Python program to get the smallest number from a list.

In [32]:
def smallest_num_in_list( list ):
    min = list[ 0 ]
    for a in list:
        if a < min:
            min = a
    return min
print(smallest_num_in_list([1, 2, -8, 0]))

-8

### Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.
* Sample List : ['abc', 'xyz', 'aba', '1221']
* Expected Result : 2

In [33]:
def match_words(words):
  tot = 0

  for word in words:
    if len(word) > 2 and word[0] == word[-1]:
      tot += 1
  return tot

print(match_words(['abc', 'xyz', 'aba', '1221']))

2

### Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
* Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
* Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [34]:
def last(n): 
    return n[-1]

def sort_list_last(tuples):
  return sorted(tuples, key=last)

print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

### Write a Python program to remove duplicates from a list.

In [35]:
a = [10,20,30,20,10,50,60,40,80,50,40]

dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items)

{40, 10, 80, 50, 20, 60, 30}

### Write a Python program to clone or copy a list.

In [36]:
original_list = [10, 22, 44, 23, 4]  
new_list = list(original_list)  
print("Original_list:",original_list)  
print("New_list:",new_list)

Original_list: [10, 22, 44, 23, 4]
New_list: [10, 22, 44, 23, 4]

### Write a Python program to find the list of words that are longer than n from a given list of words.

In [37]:
def long_words(n, str):  
    word_len = []  
    txt = str.split(" ")  
    for x in txt:  
        if len(x) > n:  
            word_len.append(x)  
    return word_len   
print(long_words(3, "The quick brown fox jumps over the lazy dog"))

['quick', 'brown', 'jumps', 'over', 'lazy']

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [38]:
def common_data(list1, list2):
     result = False
     for x in list1:
         for y in list2:
             if x == y:
                 result = True
                 return result
print(common_data([1,2,3,4,5], [5,6,7,8,9]))
print(common_data([1,2,3,4,5], [6,7,8,9]))

True
None

### Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
* Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
* Expected Output : ['Green', 'White', 'Black']

In [39]:
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
color = [x for (i,x) in enumerate(color) if i not in (0,4,5)]
print(color)

['Green', 'White', 'Black']

### Write a Python program to generate all permutations of a list in Python.

In [40]:
import itertools
print(list(itertools.permutations([1,2,3,5])))

[(1, 2, 3, 5), (1, 2, 5, 3), (1, 3, 2, 5), (1, 3, 5, 2), (1, 5, 2, 3), (1, 5, 3, 2), (2, 1, 3, 5), (2, 1, 5, 3), (2, 3, 1, 5), (2, 3, 5, 1), (2, 5, 1, 3), (2, 5, 3, 1), (3, 1, 2, 5), (3, 1, 5, 2), (3, 2, 1, 5), (3, 2, 5, 1), (3, 5, 1, 2), (3, 5, 2, 1), (5, 1, 2, 3), (5, 1, 3, 2), (5, 2, 1, 3), (5, 2, 3, 1), (5, 3, 1, 2), (5, 3, 2, 1)]

### Write a Python program to get the difference between the two lists.

In [41]:
list1 = [1, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]
diff_list1_list2 = list(set(list1) - set(list2))
diff_list2_list1 = list(set(list2) - set(list1))
total_diff = diff_list1_list2 + diff_list2_list1
print(total_diff)

[9, 3, 5, 8, 2, 4, 6]

### Write a Python program to append a list to the second list.

In [42]:
list1 = [1, 2, 3, 5, 6]
list2 = ['Red', 'Green', 'Black']
final_list = list1 + list2
print(final_list)

[1, 2, 3, 5, 6, 'Red', 'Green', 'Black']

### Write a python program to check whether two lists are circularly identical.

In [43]:
list1 = [10, 10, 0, 0, 10]
list2 = [10, 10, 10, 0, 0]
list3 = [1, 10, 10, 0, 0]

print('Compare list1 and list2')
print(' '.join(map(str, list2)) in ' '.join(map(str, list1 * 2)))
print('Compare list1 and list3')
print(' '.join(map(str, list3)) in ' '.join(map(str, list1 * 2)))

Compare list1 and list2
True
Compare list1 and list3
False

### Write a Python program to find common items from two lists.

In [44]:
def same_order(l1, l2):
    common_elements = set(l1) & set(l2)
    return common_elements

color1 = ["red","green","black","orange"]
color2 = ["red","pink","green","white","black"]

print("Original lists:")
print(color1)
print(color2)
print("\nCommon elements between color1 and color2")
print(same_order(color1, color2))

Original lists:
['red', 'green', 'black', 'orange']
['red', 'pink', 'green', 'white', 'black']

Common elements between color1 and color2
{'red', 'green', 'black'}

### Write a Python program to split a list based on first character of word.

In [45]:
from itertools import groupby
from operator import itemgetter

word_list = ['be','have','do','say','get','make','go','know','take','see','come','think',
     'look','want','give','use','find','tell','ask','work','seem','feel','leave','call']

for letter, words in groupby(sorted(word_list), key=itemgetter(0)):
    print(letter)
    for word in words:
        print(word)

a
ask
b
be
c
call
come
d
do
f
feel
find
g
get
give
go
h
have
k
know
l
leave
look
m
make
s
say
see
seem
t
take
tell
think
u
use
w
want
work

### Write a Python program to remove duplicates from a list of lists.
* Sample list : [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
* New List : [[10, 20], [30, 56, 25], [33], [40]]

In [46]:
import itertools
num = [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
print("Original List", num)
num.sort()
new_num = list(num for num,_ in itertools.groupby(num))
print("New List", new_num)

Original List [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
New List [[10, 20], [30, 56, 25], [33], [40]]

## Tuple

### Write a Python program to create a tuple.

In [47]:
#Create an empty tuple 
x = ()
print(x)
#Create an empty tuple with tuple() function built-in Python
tuplex = tuple()
print(tuplex)

()
()

### Write a Python program to create a tuple with different data types.

In [48]:
#Create a tuple with different data types
tuplex = ("tuple", False, 3.2, 1)
print(tuplex)

('tuple', False, 3.2, 1)

### Write a Python program to unpack a tuple in several variables.

In [49]:
#create a tuple
tuplex = 4, 8, 3 
print(tuplex)
n1, n2, n3 = tuplex
#unpack a tuple in variables
print(n1 + n2 + n3) 
#the number of variables must be equal to the number of items of the tuple
n1, n2, n3, n4= tuplex

(4, 8, 3)
15

ValueError: not enough values to unpack (expected 4, got 3)

### Write a Python program to create the colon of a tuple.

In [50]:
from copy import deepcopy
#create a tuple
tuplex = ("HELLO", 5, [], True) 
print(tuplex)
#make a copy of a tuple using deepcopy() function
tuplex_colon = deepcopy(tuplex)
tuplex_colon[2].append(50)
print(tuplex_colon)
print(tuplex)

('HELLO', 5, [], True)
('HELLO', 5, [50], True)
('HELLO', 5, [], True)

### Write a Python program to find the repeated items of a tuple.

In [51]:
#create a tuple
tuplex = 2, 4, 5, 6, 2, 3, 4, 4, 7 
print(tuplex)
#return the number of times it appears in the tuple.
count = tuplex.count(4)
print(count)

(2, 4, 5, 6, 2, 3, 4, 4, 7)
3

### Write a Python program to check whether an element exists within a tuple.

In [52]:
tuplex = ("w", "p", "a", "n", "k", "a", "j")
print("r" in tuplex)
print("n" in tuplex)

False
True

### Write a Python program to convert a list to a tuple.

In [53]:
#Convert list to tuple
listx = [5, 10, 7, 4, 15, 3]
print(listx)
#use the tuple() function built-in Python, passing as parameter the list
tuplex = tuple(listx)
print(tuplex)

[5, 10, 7, 4, 15, 3]
(5, 10, 7, 4, 15, 3)

### Write a Python program to remove an item from a tuple.

In [54]:
#create a tuple
tuplex = "w", 3, "r", "s", "o", "u", "r", "c", "e"
print(tuplex)
#tuples are immutable, so you can not remove elements
#using merge of tuples with the + operator you can remove an item and it will create a new tuple
tuplex = tuplex[:2] + tuplex[3:]
print(tuplex)
#converting the tuple to list
listx = list(tuplex) 
#use different ways to remove an item of the list
listx.remove("c") 
#converting the tuple to list
tuplex = tuple(listx)
print(tuplex)

('w', 3, 'r', 's', 'o', 'u', 'r', 'c', 'e')
('w', 3, 's', 'o', 'u', 'r', 'c', 'e')
('w', 3, 's', 'o', 'u', 'r', 'e')

### Write a Python program to slice a tuple.

In [55]:
#create a tuple
tuplex = (2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
#used tuple[start:stop] the start index is inclusive and the stop index
_slice = tuplex[3:5]
#is exclusive
print(_slice)
#if the start index isn't defined, is taken from the beg inning of the tuple
_slice = tuplex[:6]
print(_slice)
#if the end index isn't defined, is taken until the end of the tuple
_slice = tuplex[5:]
print(_slice)
#if neither is defined, returns the full tuple
_slice = tuplex[:]
print(_slice)
#The indexes can be defined with negative values
_slice = tuplex[-8:-4]
print(_slice)

(5, 4)
(2, 4, 3, 5, 4, 6)
(6, 7, 8, 6, 1)
(2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
(3, 5, 4, 6)

### Write a Python program to reverse a tuple.

In [56]:
#create a tuple
x = ("Pankaj_Patel")
# Reversed the tuple
y = reversed(x)
print(tuple(y))
#create another tuple
x = (5, 10, 15, 20)
# Reversed the tuple
y = reversed(x)
print(tuple(y))

('l', 'e', 't', 'a', 'P', '_', 'j', 'a', 'k', 'n', 'a', 'P')
(20, 15, 10, 5)

## Strings

### Write a Python program to calculate the length of a string.

In [57]:
def string_length(str1):
    count = 0
    for char in str1:
        count += 1
    return count
print(string_length('google.com'))

10

### Write a Python program to count the number of characters (character frequency) in a string.
* Sample String : google.com
* Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [58]:
def char_frequency(str1):
    dict = {}
    for n in str1:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

### Write a Python program to get a string from a given string where all occurrences of its first char have been changed to `$` except the first char itself.
* Sample String : 'restart'
* Expected Result : 'resta`$`t'

In [59]:
def change_char(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]

  return str1

print(change_char('restart'))

resta$t

### Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing' then add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged.
* Sample String : 'abc'
* Expected Result : 'abcing'
* Sample String : 'string'
* Expected Result : 'stringly'

In [60]:
def add_string(str1):
  length = len(str1)

  if length > 2:
    if str1[-3:] == 'ing':
      str1 += 'ly'
    else:
      str1 += 'ing'

  return str1
print(add_string('ab'))
print(add_string('abc'))
print(add_string('string'))

ab
abcing
stringly

### Write a Python function that takes a list of words and returns the length of the longest one.

In [61]:
def find_longest_word(words_list):
    word_len = []
    for n in words_list:
        word_len.append((len(n), n))
    word_len.sort()
    return word_len[-1][0], word_len[-1][1]
result = find_longest_word(["PHP", "Exercises", "Backend"])
print("\nLongest word: ",result[1])
print("Length of the longest word: ",result[0])

Longest word:  Exercises
Length of the longest word:  9

### Write a Python script that takes input from the user and displays that input back in upper and lower cases.

In [62]:
user_input = input("What's your favourite language? ")
print("My favourite language is ", user_input.upper())
print("My favourite language is ", user_input.lower())

What's your favourite language? Hindi
My favourite language is  HINDI
My favourite language is  hindi

### Write a Python program that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).
* Sample Words : red, white, black, red, green, black
* Expected Result : black, green, red, white,red

In [63]:
items = input("Input comma separated sequence of words")
words = [word for word in items.split(",")]
print("Unique & sorted words:",",".join(sorted(list(set(words)))))

Input comma separated sequence of wordsred,white,black,red,green,black
Unique & sorted words: black,green,red,white

### Write a Python program to get the last part of a string before a specified character.
https://www.w3resource.com/python-exercises
https://www.w3resource.com/python

In [64]:
str1 = 'https://www.w3resource.com/python-exercises/string'
print(str1.rsplit('/', 1)[0])
print(str1.rsplit('-', 1)[0])

https://www.w3resource.com/python-exercises
https://www.w3resource.com/python

### Write a Python program to display formatted text (width=50) as output.

In [65]:
import textwrap
sample_text = '''
  Python is a widely used high-level, general-purpose, interpreted,
  dynamic programming language. Its design philosophy emphasizes
  code readability, and its syntax allows programmers to express
  concepts in fewer lines of code than possible in languages such
  as C++ or Java.
  '''
print()
print(textwrap.fill(sample_text, width=50))
print()

   Python is a widely used high-level, general-
purpose, interpreted,   dynamic programming
language. Its design philosophy emphasizes   code
readability, and its syntax allows programmers to
express   concepts in fewer lines of code than
possible in languages such   as C++ or Java.

### Write a Python program to count occurrences of a substring in a string.

In [66]:
str1 = 'The quick brown fox jumps over the lazy dog.'
print()
print(str1.count("fox"))
print()

1

### Write a Python program to reverse a string.

In [67]:
def reverse_string(str1):
    return ''.join(reversed(str1))
print()
print(reverse_string("abcdef"))
print(reverse_string("Python Exercises."))
print()

fedcba
.sesicrexE nohtyP

### Write a Python program to lowercase first n characters in a string.

In [68]:
str1 = 'WWW.GOOGLE.COM'
print(str1[:4].lower() + str1[4:])

www.GOOGLE.COM